{% extends 'base.html' %}
{% load static %}

{% block body %}
<br>
<br>
<br>
    <div class="jumbotron" id="jumbotron">
        <h1 class="display-4" style="font-weight: bold; font-size:40px;">Support</h1>
        <hr>
        <p style="width:85%">If you have any in-game problems, please contact <span style="color:blue;">ningyuan_tian@ridleycollege.com</span> or <span style="color:blue;">ryan_gao@ridleycollege.com</span>. If you have issues with the website, please contact <span style="color:blue;">qilin_gu@ridleycollege.com</span>. We will reply as soon as possible.</p>
        <img src="{% static 'image/cheer.png' %}" width="15%" height="auto" style="float:right;margin-top:-13%;">
    </div>

{% endblock body %}